<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>연하장</title>

    <!-- 검색엔진 최적화 -->
    <meta name="og:type" content="스마트웹앱" />
    <meta name="description" content="2023 모바일연하장" />
    <meta
      name="keywords"
      content="모바일연하장, 연하장, 크리스마스, 새해인사, 새해, 덕담"
    />
    <meta name="author" content="김민수" />
    <meta name="og:site_name" content="모바일연하장" />

    <!-- sns 링크 최적화 -->
    <meta property="og:title" content="모바일연하장" />
    <meta property="og:description" content="2023 모바일연하장" />
    <meta
      property="og:url"
      content="https://port-0-ny-card-fyyf25lbohiha7.gksl2.cloudtype.app/"
    />
    <meta
      property="og:image"
      content="https://github.com/chunjaeilu/ny_card/blob/master/public/images/thumb-nail.png?raw=true"
    />
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="https://github.com/chunjaeilu/ny_card/blob/master/public/images/favicon.png?raw=true"
    />

    <!-- css -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/scroll-ani.css" />

    <!-- script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script src="script/snowfall.jquery.js"></script>
    <script src="script/app.js"></script>
    <script src="script/scroll.js"></script>

    <!-- fonts -->
    <!-- font-family: 'Great Vibes', cursive; -->
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"
      rel="stylesheet"
    />
    <!-- font-family: 'Nanum Brush Script', cursive; -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap"
      rel="stylesheet"
    />

    <!-- font-family: 'Noto Sans KR', sans-serif; -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrap">
      <section class="page1">
        <div class="container">
          <h1>
            <i>
              <b>
                Happy <br />
                New Year
              </b>
            </i>
          </h1>
          <img class="main-bg" src="images/main-bg.png" alt="bg-img" />
        </div>
      </section>
      <!-- // .page1 -->
      <section class="page2">
        <div class="container">
          <h2>새해 복 많이 받으세요</h2>
          <div class="gallery">
            <div class="sliders">
              <div class="slider-wrap">
                <div class="slider">
                  <img src="images/slider-img1.jpg" alt="slider-img1" />
                </div>
                <div class="slider">
                  <img src="images/slider-img2.jpg" alt="slider-img2" />
                </div>
                <div class="slider">
                  <img src="images/slider-img3.jpg" alt="slider-img3" />
                </div>
              </div>
              <div class="slider-btn btn-prev">
                <img src="images/icon-prev.svg" alt="이전" />
              </div>
              <div class="slider-btn btn-next">
                <img src="images/icon-next.svg" alt="다음" />
              </div>
            </div>
            <div class="slider-pagination">
              <div class="btn-img btn-img1 show"></div>
              <div class="btn-img btn-img2"></div>
              <div class="btn-img btn-img3"></div>
            </div>
          </div>
          <p>
            지난 한 해 동안 보내주신 <br />믿음과 응원에 감사의 마음을 전합니다.
            <br />
            새해에도 소망하는 일 모두 이루시고 <br />
            건강과 행운이 함께하길 기원합니다.
            <br />
            <br />
            <span class="ft-bold">김민수 드림</span>
          </p>
        </div>
      </section>
      <!-- // .page2 -->
      <section class="page3">
        <div class="container">
          <h2>덕담 한 마디</h2>
          <form action="/create" method="post" class="greeting-form">
            <textarea
              name="greeting"
              id="greeting"
              cols="30"
              rows="4"
              maxlength="255"
              placeholder="전하고 싶은 말씀을 적어주세요 (최대 255자)"
              required
            ></textarea>
            <div class="info">
              <label for="name">이름</label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="작성자명"
                required
              />
              <label for="pwd">비밀번호</label>
              <input
                type="password"
                id="pwd"
                name="pwd"
                placeholder="비밀번호(숫자 4자리)"
                pattern="[0-9]{4,4}"
                maxlength="4"
                required
              />
              <button type="submit">등록</button>
            </div>
          </form>

          <ul class="messages">
            <% for( let i = posts.length - 1; i >= 0; i-- ) { %>
            <li>
              <div class="message-title">
                <h4><%= posts[i].name %></h4>
                <div class="btn-box">
                  <div class="btn btn-edit">수정</div>

                  <div class="btn btn-delete">삭제</div>
                </div>
              </div>
              <p class="date"><%= posts[i].date %></p>
              <p class="greeting"><%= posts[i].greeting %></p>
              <div class="popup popup-edit">
                <h5>글을 수정하시겠습니까?</h5>
                <form action="/edit/<%= i %> " method="post">
                  <textarea
                    name="greeting_edit"
                    id="greeting_edit"
                    cols="30"
                    rows="3"
                    maxlength="255"
                    placeholder="전하고 싶은 말씀을 적어주세요 (최대 255자)"
                    required
                  >
<%= posts[i].greeting %>
                  </textarea>
                  <div class="info">
                    <div class="input-box">
                      <label for="name_edit">이름</label>
                      <input
                        type="text"
                        id="name_edit"
                        name="name_edit"
                        placeholder="작성자명"
                        required
                        value="<%= posts[i].name %>"
                      />
                      <input
                        type="password"
                        id="pwd_check"
                        name="pwd_check"
                        placeholder="비밀번호"
                        pattern="[0-9]{4,4}"
                        maxlength="4"
                        required
                      />
                    </div>
                    <div class="btn-group">
                      <div class="btn-close">취소</div>
                      <button type="submit">수정</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="popup popup-delete">
                <h5>글을 삭제하시겠습니까?</h5>
                <form action="/delete/<%= i %> " method="post">
                  <input
                    type="password"
                    id="pwd_check"
                    name="pwd_check"
                    placeholder="비밀번호를 입력하세요"
                    pattern="[0-9]{4,4}"
                    maxlength="4"
                    required
                  />
                  <div class="btn-group">
                    <div class="btn-close">취소</div>
                    <button type="submit">삭제</button>
                  </div>
                </form>
              </div>
            </li>
            <% } %>
          </ul>
        </div>
      </section>
      <!-- // .page3 -->
    </div>
  </body>
</html>
